body {
  font-size: 21px;
  background-color: rgb(252, 252, 252);
}

h1, .h1 {
  font-size: 63px;
  color: rgb(200, 200, 200);
}

h2, .h2 { font-size: 46px; }
h3, .h3 { font-size: 29px; }
h4, .h4 { font-size: 24px; }

#top-menu {
  margin-bottom: 0;
}

#top-menu .navbar-brand {
  font-size: 20px;
  color: orange;
  font-weight: bold;
}

#top-menu .navbar-nav > li > a {
  font-size: 16px;
  color: rgb(200, 200, 200);
}

@media (max-width: 480px) {
  #top-menu .nav.navbar-nav {
    margin: 0;
  }
  #top-menu .navbar-brand {
    font-size: 14px;
    line-height: 14px;
    height: 40px;
  }
  #top-menu .navbar-nav > li > a {
    font-size: 12px;
    line-height: 12px;
    padding: 6px;
  }
}

section {
  padding: 20px 0;
  border-top: 1px solid #E6E6E6;
}

section:nth-child(even) {
  background-color: rgb(250, 250, 250);
}

h1.oomph {
  text-shadow: 1px 1px gray;
}

.background-filter {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 20px 0;
}

#web-development {
  background: url("/images/crane.jpg") bottom / cover;
  padding: 0;
}

#web-development .oomph, #web-development a {
  color: orange;
}

#software-development .oomph, #software-development a {
  color: #ca4388;
}

#contact .oomph, #contact a {
  color: #428BCA;
}

#tools .oomph, #tools a {
  color: white;
}

.mobile-device {
  background: rgb(230, 230, 230);
  border-radius: 20px 20px 20px 20px;
  padding: 1%;
  width: 24%;
  height: auto;
  position: relative;
  float: left;
  border: 1px solid gray;
  box-shadow: 0 2px 4px gray;
}

.mic, .camera, .device-button, .screen {
  position: relative;
  float: left;
  background: rgb(220, 220, 220);
  border: 1px solid gray;
}

.mic {
  margin: 5.5% 0% 11% 40%; 
  width: 20%;
  height: 1px;
  padding: 1% 0;
  border-radius: 6px 6px 6px 6px;
}

.camera {
  float: right;
  margin: 3% 10% 0;
  height: 1px;
  width: 1px;
  padding: 2.5%;
  border-radius: 50%; 
}

.screen:before {
  content: "";
  display: block;
	margin-top: 144%;
}

.screen {
  width: 100%;
  background: rgb(50,50,50);
  color: #5A5A5A;
}

.screen .window, .screen .upper-menu-bar, .screen .content {
  position: absolute;
  bottom: 0; right: 0; left: 0;
}

.screen .window {
  top: 0; 
  z-index: 999;
  background: none repeat scroll 0 0 rgba(255, 255,255, 0.15);
}

.screen .upper-menu-bar {
  top: 0;
  z-index: 998;
  height: 5%;
  background: rgb(70,70,70);
}

.screen .content {
  top: 5%;
  z-index: 998;
  padding: 3%;
  overflow: hidden;
  background: white;
}

.screen .content > * {
  max-width: 100%;
}

.device-button {
  margin: 6% 40% 4%;
  width: 20%;
  height: 1px;
  padding: 6% 0;
  border-radius: 10px 10px 10px 10px;
}

.tablet.mobile-device {
  padding: 3.5%;
  width: 42%;
  margin-left: 4%;
}

.tablet.screen:before {
  content: "";
  display: block;
	margin-top: 120%;
}

#tools {
  color: white;
  background: rgb(100,100,100) url("/images/doge-gray.png") no-repeat bottom right;
}

#tools img {
  height: 48px;
  margin: 12px;
}

.example-product .mobile-device {
  -ms-transition: -ms-transform 0.15s ease-in;
  -moz-transition: -moz-transform 0.15s ease-in;
  -webkit-transition: -webkit-transform 0.15s ease-in;
  -o-transition: -o-transform 0.15s ease-in;
}

.example-product .mobile-device:hover {
  -ms-transform: scale(1.025) rotate(-1.5deg);
  -moz-transform: scale(1.025) rotate(-1.5deg);
  -webkit-transform: scale(1.025) rotate(-1.5deg);
  -o-transform: scale(1.025) rotate(-1.5deg);
}
