body { font-size: 16px; }
h1, .h1 { font-size: 52px; }
h2, .h2 { font-size: 36px; }
h3, .h3 { font-size: 30px; }
h4, .h4 { font-size: 24px; }
header h1 { font-size: 72px; }

section {
  padding: 20px 0;
}

section:nth-child(even) {
  color: white;
  background: black;
}
